<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>HIIIIIIIIIIIIIIIII</h1>
    <h1>Time: {{ value | date:"H:i" }}</h1>

    <h1>Length: {{ author | length }}</h1>

    <h1>Add: {{ num | add:"2" }}</h1>

    <h1>Addslash: {{ name | addslashes }}</h1>

    <h1>Cut : {{ author | cut:" "}}</h1>

    <h1>Capfirst: {{ author | capfirst }}</h1>

    <h1>Date: {{ value | date:"D d M Y" }}</h1>

    <h1>Empty: {{ empty | default:"nothing" }}</h1>

    <h1>List sort(using name): {{ lst | dictsort:"name" }}</h1>

    <h1>List sort(using age): {{ lst | dictsort:"age" }}</h1>

    <h1>Divisibleby 3: {{ num | divisibleby:"3" }}</h1>

    <h1>Divisibleby 2: {{ num | divisibleby:"2" }}</h1>

    <h1>List first: {{ lst | first }}</h1>

    <h1>Join (//): {{ lst | join:" // " }}</h1>

    <h1>List last: {{ lst | last }}</h1>

    <h1>List length: {{ lst | length }}</h1>

    <h1>Linenumbers: {{ lst | linenumbers }}</h1>

    <h1>Lower: {{ name | lower }}</h1>

    <h1>Make list: {{ name | make_list }}</h1>

    <h1>Random alpha: {{ name | random }}</h1>

    <h1>Random List: {{ lst | random }}</h1>

    <h1>Slugify: {{ name | slugify }}</h1>

    <h1>Truncatechars: {{ name|truncatechars:6 }}</h1>

    <h1>Truncatewords: {{ name|truncatewords:2 }}</h1>
  </body>
</html>
