<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>HIIIIIIIIIIIIIIIII</h1>
    <h1>{{ value | date:"H:i" }}</h1>

    <h1>{{ author | length }}</h1>

    <h1>{{ num | add:"2" }}</h1>

    <h1>{{ name | addslashes }}</h1>

    <h1>{{ author | cut:" "}}</h1>

    <h1>{{ author | capfirst }}</h1>

    <h1>{{ value | date:"D d M Y" }}</h1>

    <h1>{{ empty | default:"nothing" }}</h1>

    <h1>{{ lst | dictsort:"name" }}</h1>

    <h1>{{ lst | dictsort:"age" }}</h1>

    <h1>{{ num | divisibleby:"3" }}</h1>

    <h1>{{ num | divisibleby:"2" }}</h1>

    <h1>{{ lst | first }}</h1>

    <h1>{{ lst | join:" // " }}</h1>

    <h1>{{ lst | last }}</h1>

    <h1>{{ lst | length }}</h1>

    <h1>{{ lst | linenumbers }}</h1>

    <h1>{{ name | lower }}</h1>

    <h1>{{ name | make_list }}</h1>

    <h1>{{ name | random }}</h1>

    <h1>{{ lst | random }}</h1>

    <h1>{{ name | slugify }}</h1>

    <h1>{{ name | wordcount }}</h1>
  </body>
</html>
