{% extends "base.html" %}
{% block content %}



<div class="container">
  
  <h1 class="mt-5 ms-5">This is Profile Page</h1>
  <a href="{% url "set_password" %}" class='btn btn-warning'> Set password without old password </a>
  <a href="{% url "change_password" %}" class='btn btn-warning'> Change old password </a>
  <h4 class="my-5">Total Purchased cars: {{purchased_cars | length}}</h4>
  <div class="d-flex flex-wrap justify-content-center">
        {% for car in purchased_cars %}
    
        <div class="card m-2" style="width: 18rem;">
          <img src="{{car.car.car_image.url}}" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">{{car.car.car_name}}</h5>
            <p class="card-text">
                <h6 >${{car.car.car_price}}</h6>
               <h6>{{car.car.car_brand_name}}</h6>
            </p>
            <a href="{% url "detail_view" car.car.id %}" class="btn btn-primary">View Details</a>
          </div>
        </div>
      
        {% endfor %}

    </div>

  </div>


{% endblock content %}