{% extends "base.html" %} {% block content %}

<div class="d-flex flex-wrap justify-content-center">
  {% for d in data %}
  <div class="card m-2" style="width: 18rem">
    <div class="card-body">
      <h6 class="card-title">{{d.id}}</h6>
      <h6 class="card-subtitle mb-2 text-body-secondary">
        {{d.task_assign_date}}
      </h6>
      <p class="card-text">{{d.task_description}}</p>

      <p>
        {% for c in d.category.all %}
        <a class="btn btn-secondary">{{c}}</a>
        {% endfor %}
      </p>

      {% if d.is_completed %}
      <a class="btn btn-success">Completed</a>
      {% else %}

      <a href=" {% url "edit_task" d.id %} " class="btn btn-primary">Edit</a>
      <a href=" {% url "delete_task" d.id %} " class="btn btn-danger">Delete</a>
      {% endif %}
    </div>
  </div>

  {% endfor %}
</div>

{% endblock content %}
